openapi: 3.0.1
info:
  version: '1.0'
  title: Workday APIs
servers:
  - url: 'https://apigatewayqa.adient.com/workday/v1'
    description: Quality
paths:
  /requestleaveofabsence:
    post:
      summary: Request Leave of Absence to Workday
      description: Request Leave of Absence to Workday. Please see Workday documentation for request and response details at https://community.workday.com/sites/default/files/file-hosting/productionapi/Absence_Management/v38.2/Absence_Management.html
      operationId: requestleaveofabsence
      tags:
        - Absence Management
      requestBody:
        description: Request body for Absence request to Workday
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/resp'
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/resp'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
  /rescindbusinessprocessrequest:
    post:
      summary: Rescind Business Process Request to Workday
      description: escind Business Process Request to Workday. Please see Workday documentation for request and response details at https://community.workday.com/sites/default/files/file-hosting/productionapi/Integrations/v38.2/Integrations.html
      operationId: rescindbusinessprocessrequest
      tags:
        - Rescind Business Process Request
      requestBody:
        description: Request body for Rescind Business Process Request to Workday
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/resp'
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/resp'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    resp:
      type: object
security:
  - ApiKeyAuth: []